go 1.18

use (
	./binary-search
	./branch-sums
	./bubble-sort
	./caesar-cipher-encryptor
	./class-photos
	./closest-value-in-tree
	./depth-first-search
	./generate-document
	./insertion-sort
	./minimum-waiting-time
	./node-depth
	./non-repeating-character
	./nth-fibonacci
	./palindrome
	./product-sum
	./remove-duplicates-from-linked-list
	./run-length-encoding
	./selection-sort
	./sorted-squared-array
	./tandem-bicycle
	./three-largest-numbers
	./tournament-winner
	./two-number-sum
	./validate-subsequence
)
