go 1.18

use (
	./branch-sums
	./class-photos
	./closest-value-in-tree
	./depth-first-search
	./minimum-waiting-time
	./node-depth
	./sorted-squared-array
	./tournament-winner
	./two-number-sum
	./validate-subsequence
)
